body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: auto;
    margin-top: 120px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
}

input {
    width: 90%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

button, a {
    margin-top: 15px;
    padding: 10px 20px;
    background: #6a5acd;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}
